{{extend "layout.html"}}
<h2>{{=title}}</h2>
<p>
Instituto Federal de Educação Ciência e Tecnologia Fluminense - IFF<br/>
Pólo de Inovação Campos dos Goytacazes - PICG<br/>
Laboratório de Computação Física - LCF<br/>
Endereço: BR 356, km 158 - Martins Lage - Campos dos Goytacazes - RJ<br/>
Telefone: (22) 2737-5691<br/>

<br/>
Dr. Rogério Atem de Carvalho<br/>
Diretor - PICG<br/>
<a href=mailto:ratem@iff.edu.br>ratem@iff.edu.br</a><br/>

</p>

<br/>
Dr. Renato Gomes Sobral Barcellos<br/>
Coordenador - LCF<br/>
<a href=mailto:rbarcellos@iff.edu.br>rbarcellos@iff.edu.br</a><br/>

</p>